setuptools
ml-dtypes>=0.2.0
# grain

git+https://github.com/google/tunix

# jax>=0.4.30

# git+https://github.com/google/flax.git#egg=flax
git+https://github.com/google/flax.git
huggingface-hub
transformers
jinja2